{% extends "first_app/base.html" %}
{% block block_body %}
{% load static %}
<div style="margin: 2%">
    <h3>CAMPUS COMMAND GENERATOR</h3>
    <div class="row padd-row"></div>
    <!--input type="text" id="test"></input>
    <button id="susu">Check</button-->
    {% csrf_token %}
    <table>
        <tr>
            <td colspan="2" style="padding-right: 10px;">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <strong>BASIC INFOR</strong>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-dark">
                            <thead>
                                <tr>
                                    <th>
                                        Ticket ID
                                    </th>
                                    <th>
                                        Protocol
                                    </th>
                                </tr>
                                <tr class="bg-white">
                                    <td style="padding-right: 14px; width: 14%;">
                                        <input type="text" class="form-control input-sm" name="ticketId" id="ticketId"
                                            placeholder="Ticket ID"></input>
                                    </td>
                                    <td style="width: 3%;">
                                        <input type="text" class="form-control input-sm" name="protocol" id="protocol"
                                            placeholder="tcp/udp"></input>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </td>
            <td colspan="3" style="padding-right: 10px;">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <strong>REQUESTER 'S VLAN ID/IP</strong>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-dark">
                            <thead>
                                <tr>
                                    <th>
                                        VLAN
                                    </th>
                                    <th>
                                        Source IP
                                    </th>
                                    <th>
                                        Source Port
                                    </th>
                                </tr>
                                <tr class="bg-white">
                                    <td style="padding-right: 14px; width: 5%;">
                                        <input type="text" class="form-control input-sm" name="srcVlan" id="srcVlan"
                                            placeholder="Source VLAN"></input>
                                    </td>
                                    <td style="padding-right: 14px; width: 20%;">
                                        <input type="text" class="form-control input-sm" name="srcIp" id="srcIp"
                                            placeholder="IP Addresses"></input>
                                    </td>
                                    <td style="width: 17%;">
                                        <input type="text" class="form-control input-sm" name="srcPort" id="srcPort"
                                            placeholder="Source ports"></input>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </td>
            <td colspan="3">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <strong>DESTINATION VLAN ID/IP</strong>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-dark">
                            <thead>
                                <tr>
                                    <th>
                                        VLAN
                                    </th>
                                    <th>
                                        Dest IP
                                    </th>
                                    <th>
                                        Dest Port
                                    </th>
                                </tr>
                                <tr class="bg-white">
                                    <td style="padding-right: 14px; width: 5%;">
                                        <input type="text" class="form-control input-sm" name="dstVlan" id="dstVlan"
                                            placeholder="Destination VLAN"></input>
                                    </td>
                                    <td style="padding-right: 14px; width: 20%;">
                                        <input type="text" class="form-control input-sm" name="dstIp" id="dstIp"
                                            placeholder="Dest IP"></input>
                                    </td>
                                    <td style="width: 17%;">
                                        <input type="text" class="form-control input-sm" name="dstPort" id="dstPort"
                                            placeholder="Destination ports"></input>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <div class="row">
        <div class="col-sm-12">
            <button name="generate-command" class="btn btn-primary" id="loadfile">LoadFile</button>
            <button name="generate-command" form="formcontent" type="submit" class="btn btn-success" id="generate">Generate</button>
            <button type="reset" class="btn btn-danger" id="reset" value="Reset">Clear all</button>
        </div>
    </div>
    <div id="manual-result" class="padd-row"></div>
    <hr />

    <!--<form enctype="multipart/form-data" method="POST" action="" id="form">
        {% csrf_token %}

        <div class="row padd-row">
            <div class="col-sm-12">
                <div class="input-group">
                    <label class="input-group-btn">
                        <span class="btn btn-primary">
                            CSV file&hellip; <input type="file" class="form-control-file" name="CSVFile" id="file-csv"
                                style="display: none;">
                        </span>
                    </label>
                    <table>
                        <tr>
                            <th style="width:1000px; padding:5px">
                                <input type="text" class="form-control" readonly>
                            </th>
                            <th style="width:200px">
                                <button action="{% url 'tool' 'generate' %}" type="submit"
                                    class="btn btn-primary">Submit</button>
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </form>-->
    <div id="result" class="padd-row"></div>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#reset").click(function (e) {
            $('#ticketId').val("");
            $('#protocol').val("");
            $('#srcVlan').val("");
            $('#srcPort').val("");
            $('#srcIP').val("");
            $('#dstVlan').val("");
            $('#dstPort').val("");
            $('#dstIp').val("");
        });

        $("#generate").click(function (e) {
            event.preventDefault();
            var dict_val = new Object();
            var dict_val =  {
                "ticketId": $('#ticketId').val(), "protocol": $('#protocol').val(),
                "srcVlan": $('#srcVlan').val(), "srcPort": $('#srcPort').val(), "srcIP": $('#srcIP').val(),
                "dstVlan": $('#dstVlan').val(), "dstPort": $('#dstPort').val(), "dstIp": $('#dstIp').val(),
            }
            var dict_val = JSON.stringify(dict_val)
            console.log(dict_val)
            $('#divoutput').empty();
            console.log("form submitted!")  // sanity check
            $.ajax({
                type: 'POST',
                //url: '{% url "tool" "searchrule" %}',
                url: '{% url "tool" "result_generate_campus" %}',
                data: {dict_val,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'},
                //content: $('#content').val(),

                //$(selector).post(URL,data,function(data,status,xhr),dataType)
                success: function (json) {
                    //$("#output").text(json.result)
                    //$("#divoutput").get("campus.html");
                    $("#result").append(json);

                },

                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
            });
        });
    })
</script>
{% endblock %}