{% extends "first_app/base.html" %}
{% block block_body %}
{% load static %}
<div style="margin-left: 250px;" class="container-fluid">
        <div id="container" class="row">
            <div class="col-8" id="container">
                <a id="pickfiles" class="btn btn-success" href="javascript:;">Load file configuration...</a>
                <a type="button" class="btn btn-primary" id="uploadfiles" href="javascript:;">Start Upload</a>
    
            </div>
        </div>
		<div class="list-group" id="filelist"></div>
	<div style="margin-top:20px;" class="row row-cols-2 align-baseline">
		<div class="col">
			<form  method="POST" id="formcontent">
			{% csrf_token %}
				<textarea style="height:300px;" name="content" id="content" type="text" class="form-control" placeholder="Nhập nội dung cần convert vào đây"></textarea>
			</form>
		</div>
		<div class="col">
			<form id="outputform" >
				<textarea style="height:300px;" type="text" id="output" name="output" class="form-control" placeholder="Kết quả" readonly></textarea>
			</form>
			
		</div>

	</div>
	<div class="row" style="margin-top:20px;margin-bottom:20px;">
		<div class="col">
			<button name="generate-command" type="submit" class="btn-lg btn-success" id="generate" form="formcontent">Convert</button>
			<button type="reset" class="btn-lg btn-danger" value="Reset" id="reset">Clear all</button>		
		</div>
	</div>
</div>
<script src="{% static 'js/plupload.full.min.js' %}"></script>
<script type="text/javascript">
// Custom example logic
var uploader = new plupload.Uploader({
        headers: { "X-CSRFToken": $.cookie("csrftoken") },
        runtimes: 'html5,flash,silverlight,html4',
        browse_button: 'pickfiles', // you can pass an id...
        container: document.getElementById('container'), // ... or DOM Element itself
        //url: '{% url "tool" "searchrule" %}',
        url: '{% url "tool" "resultconvertjunos" %}',
        flash_swf_url: "{% static 'js/Moxie.swf' %}",
        silverlight_xap_url: "{% static '/js/Moxie.xap' %}",

        filters: {
            max_file_size: '100mb',
            mime_types: [
                { title: "Image files", extensions: "txt,jpg,gif,png" },
                { title: "Zip files", extensions: "zip" }
            ]
        },

        init: {
            PostInit: function () {
                document.getElementById('filelist').innerHTML = '';

                document.getElementById('uploadfiles').onclick = function () {
                    uploader.start();
                    return false;
                };
            },

            FilesAdded: function (up, files) {
                plupload.each(files, function (file) {
                    document.getElementById('filelist').innerHTML += '<div id="' + file.id + '">' + file.name + ' (' + plupload.formatSize(file.size) + ') <b></b></div>';
                });
            },

            UploadProgress: function (up, file) {
                document.getElementById(file.id).getElementsByTagName('b')[0].innerHTML = '<span>' + file.percent + "%</span>";
                console.log(file.percent)

            },

            Error: function (up, err) {
                document.getElementById('console').appendChild(document.createTextNode("\nError #" + err.code + ": " + err.message));
            }
        }
    });

    uploader.init();
function myFunction() {
    document.getElementById("formcontent").reset();
}
//this function used to display information file
function readSingleFile(evt) {
    //Retrieve the first (and only!) File from the FileList object
    var f = evt.target.files[0]; 

    if (f) {
      var r = new FileReader();
      r.onload = function(e) { 
	      var contents = e.target.result;
        alert( "Got the file.n" 
              +"name: " + f.name + "n"
              +"type: " + f.type + "n"
              +"size: " + f.size + " bytesn"
              + "starts with: " + contents.substr(1, contents.indexOf("n"))
        );  
      }
      r.readAsText(f);
    } else { 
      alert("Failed to load file");
    }
  }
 //this function used to load file content to html
document.getElementById('FileID')
  .addEventListener('change', getFile)

function getFile(event) {
	const input = event.target
  if ('files' in input && input.files.length > 0) {
	  placeFileContent(
      document.getElementById('content'),
      input.files[0])
  }
}

function placeFileContent(target, file) {
	readFileContent(file).then(content => {
  	target.value = content
  }).catch(error => console.log(error))
}

function readFileContent(file) {
	const reader = new FileReader()
  return new Promise((resolve, reject) => {
    reader.onload = event => resolve(event.target.result)
    reader.onerror = error => reject(error)
    reader.readAsText(file)
  })
}
  document.getElementById('FileID').addEventListener('change', readSingleFile, false);
 $(document).ready( function() {
	$( "#reset" ).click(function(e) {
	$('#content').val("");
	$('#output').val("");
	$('#FileID').val("");
});
$(document).on('submit', '#formcontent',function(e){
	event.preventDefault();
	console.log("form submitted!")  // sanity check
    $.ajax({
        type:'POST',
        url:'{% url "tool" "convertjunos" %}',
        data:{
            content:$('#content').val(),
            'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        success:function(json){
            $("#output").val(json.result)
        },
        error : function(xhr,errmsg,err) {
        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
    }
    });
});
})
</script>
{% endblock %}	
