{% extends "first_app/base.html" %}
{% block block_body %}
{% load static %}
<!-- sử dụng Shift+Alt+F để format lại toàn bộ html  
 Ctrl+K Ctrl+F  để format selected text-->
 <div style=" margin-bottom: 30px;">
    <h2  class="page-section-heading text-center text-uppercase text-secondary mb-0">SEARCH RULE</h2>
 </div>
 
<div style="margin-left: 250px;" class="container-fluid">
    <div id="container" class="row">
        <div class="col-8" id="container">
            <a id="pickfiles" class="btn btn-success" href="javascript:;">Load file configuration...</a>
            <a type="button" class="btn btn-primary" id="uploadfiles" href="javascript:;">Start Upload</a>
            

        </div>
    </div>
    
    <div class="list-group" id="filelist"></div>
    <div style="display:none" id="information" class="list-group">Xin Hãy đợi trong 3s sau đó hãy nhấn SEARCH RULE</div>
    <div style="display:none" id="progress" class="list-group">Xin Hãy đợi Kết quả</div>
    <div style="margin-top:20px; width: 600px;" class="row row-cols-2 align-baseline">
        <div class="col">
            <form method="POST" id="formcontent">
                {% csrf_token %}
                <textarea style="height:300px;" name="content" id="content" type="text" class="form-control"
                    placeholder="Nhập range ip cần tìm rule vào đây .&#10;Example:&#10;192.168.1.0/24&#10;192.168.2.0/24"></textarea>

            </form>
        </div>

    </div>
    
    <div class="row" style="margin-top:20px;margin-bottom:20px;">
        <div class="col">

            <button name="generate-command" type="submit" class="btn btn-success" id="generate"
                form="formcontent">SEARCH RULE</button>
            <button type="reset" class="btn btn-danger" value="Reset" id="reset">Clear all</button>
        </div>
    </div>
    <div style="margin-left: -200px; width:100%" id="divoutput"></div>
</div>

<script src="{% static 'js/plupload.full.min.js' %}"></script>
<script type="text/javascript">
    // Custom example logic
    var uploader = new plupload.Uploader({
        headers: { "X-CSRFToken": $.cookie("csrftoken") },
        runtimes: 'html5,flash,silverlight,html4',
        browse_button: 'pickfiles', // you can pass an id...
        container: document.getElementById('container'), // ... or DOM Element itself
        //url: '{% url "tool" "searchrule" %}',
        url: '{% url "tool" "resultsearchrule" %}',
        flash_swf_url: "{% static 'js/Moxie.swf' %}",
        silverlight_xap_url: "{% static '/js/Moxie.xap' %}",

        filters: {
            max_file_size: '100mb',
            mime_types: [
                { title: "Image files", extensions: "txt,jpg,gif,png" },
                { title: "Zip files", extensions: "zip" }
            ]
        },

        init: {
            PostInit: function () {
                document.getElementById('filelist').innerHTML = '';

                document.getElementById('uploadfiles').onclick = function () {
                    uploader.start();
                    return false;
                };
            },

            FilesAdded: function (up, files) {
                plupload.each(files, function (file) {
                    document.getElementById('filelist').innerHTML += '<div id="' + file.id + '">' + file.name + ' (' + plupload.formatSize(file.size) + ') <b></b></div>';
                });
            },

            UploadProgress: function (up, file) {
                document.getElementById(file.id).getElementsByTagName('b')[0].innerHTML = '<span>' + file.percent + "%</span>";
                if (file.percent == "100") {
                    $("#information").css({"display":"inline-block"});
                    setTimeout(function(){
                    $("#generate").css({"display":"inline-block"})
                    },3000);
                    
                }

            },
            Error: function (up, err) {
                document.getElementById('console').appendChild(document.createTextNode("\nError #" + err.code + ": " + err.message));
            }
        }
    });

    uploader.init();
    $(document).ready(function () {
        $("#reset").click(function (e) {
            $('#content').val("");
            $('#divoutput').empty();
            $('#FileID').val("");
            $('#filelist').empty();
        });
        // select file from ftp server
        
        $(document).on('submit', '#formcontent', function (e) {
            event.preventDefault();
            $('#divoutput').empty();
            console.log($("#file").val())  // sanity check
            $("#information").css({"display":"none"});
            $("#progress").css({"display":"inline-block"});
            $.ajax({
                type: 'POST',
                //url: '{% url "tool" "searchrule" %}',
                url: '{% url "tool" "resultsearchrule" %}',
                data: {
                    content: $('#content').val(), filename: $('#file').val(),
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                //$(selector).post(URL,data,function(data,status,xhr),dataType)
                success: function (json) {
                    //$("#output").text(json.result)
                    //$("#divoutput").get("campus.html");
                    $("#divoutput").append(json);
                    console.log(json)

                },


                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
            });
        });
    })
    
</script>

{% endblock %}