set version 12.3R7.7
set groups Mirror firewall family ethernet-switching filter Mirror term mirror from destination-address 10.252.252.254/32
set groups Mirror firewall family ethernet-switching filter Mirror term mirror from protocol tcp
set groups Mirror firewall family ethernet-switching filter Mirror term mirror from protocol udp
set groups Mirror firewall family ethernet-switching filter Mirror term mirror then accept
set groups Mirror firewall family ethernet-switching filter Mirror term mirror then analyzer Mirror
set groups Mirror firewall family ethernet-switching filter Mirror term end then accept
set groups Mirror ethernet-switching-options analyzer Mirror ratio 1000
set groups Mirror ethernet-switching-options analyzer Mirror output interface ge-1/0/25.0
set apply-groups Mirror
set system host-name AGG-EX4550VC-Z7
set system time-zone Asia/Saigon
set system internet-options icmpv4-rate-limit packet-rate 100
set system internet-options no-source-quench
set system internet-options tcp-drop-synfin-set
set system internet-options no-tcp-reset drop-tcp-with-syn-only
set system authentication-order tacplus
set system authentication-order password
set system ports console log-out-on-disconnect
set system root-authentication encrypted-password "$1$nOoDCn3E$HvBxbPC13vn/cnf46F5AF/"
set system tacplus-server 10.73.2.252 secret "$9$yUoleMXxdsgJZU/CAtOBX7N-s2"
set system tacplus-server 10.73.2.252 single-connection
set system tacplus-server 10.73.2.252 source-address 10.73.2.232
set system tacplus-server 10.73.2.249 secret "$9$vMrW8xdVYoZjikp0OBEhdbwsoJ"
set system tacplus-server 10.73.2.249 single-connection
set system tacplus-server 10.73.2.249 source-address 10.73.2.232
set system accounting events login
set system accounting events interactive-commands
set system accounting destination tacplus server 10.73.2.252 secret "$9$5QznCA0IhrlKgoZGiHp0OBcyM8XbYg"
set system accounting destination tacplus server 10.73.2.249 secret "$9$VEwsgJZjqPQz3cyeK8LUjiHfT69A1Ec"
set system login class NOC-view permissions interface
set system login class NOC-view permissions network
set system login class NOC-view permissions view
set system login class NOC-view permissions view-configuration
set system login class tcam-view permissions maintenance
set system login class tcam-view deny-commands "clear|set|request"
set system login user admin uid 2001
set system login user admin class super-user
set system login user admin authentication encrypted-password "$1$GWO27qfZ$Qqv9Y4lPdQFOgXgK3A.eX."
set system login user noc uid 2000
set system login user noc class NOC-view
set system login user noc authentication encrypted-password "$1$qJkugpd0$l90ULeNtFZYFMJwNCBZbo1"
set system login user tcam uid 2004
set system login user tcam class tcam-view
set system services ssh root-login deny
set system services ssh protocol-version v2
set system services ssh connection-limit 5
set system services ssh rate-limit 5
set system services telnet
deactivate system services telnet
set system services netconf ssh
set system syslog user * any emergency
set system syslog host 10.73.2.240 any any
set system syslog host 10.73.2.240 log-prefix 1BJ09_AGG-EX4550VC-Z7_10.73.2.232
set system syslog host 10.73.2.240 explicit-priority
set system syslog host 10.73.2.8 any any
set system syslog host 10.73.2.8 log-prefix 1BJ09_AGG-EX4550VC-Z7_10.73.2.232
set system syslog host 10.73.2.8 explicit-priority
set system syslog file interactive-commands interactive-commands any
set system syslog file link.up.down daemon info
set system syslog file link.up.down match SNMP_TRAP
set system syslog file link.up.down archive size 512k
set system syslog file link.up.down archive files 10
set system syslog file authorization-commands authorization any
set system syslog file authorization-commands interactive-commands any
set system syslog file firewall-logs firewall any
set system syslog file messages any notice
set system syslog file messages authorization info
set system syslog file messages daemon any
set system syslog file messages kernel any
set system syslog file messages archive size 512k
set system syslog file messages archive files 10
set system syslog file messages archive no-world-readable
set system syslog time-format year
set system commit synchronize
set system ntp authentication-key 1 type md5
set system ntp authentication-key 1 value "$9$E8ryv8-ds4oG-VgJZUmP"
set system ntp server 10.73.2.240 key 1
set system ntp server 10.73.2.240 prefer
set system ntp server 10.73.2.8 key 1
set system ntp trusted-key 1
set system ntp source-address 10.73.2.235
deactivate system ntp source-address 10.73.2.235
set system ntp source-address 10.73.2.232
set chassis redundancy graceful-switchover
set chassis aggregated-devices ethernet device-count 96
set interfaces xe-0/0/0 disable
set interfaces xe-0/0/1 disable
set interfaces xe-0/0/2 description "1BJ13-10.90.7.131:xe-0/2/0(ae0#1)"
set interfaces xe-0/0/2 ether-options 802.3ad ae20
set interfaces xe-0/0/3 description Server_1BJ11-U29-P1-10G
set interfaces xe-0/0/3 ether-options 802.3ad ae8
set interfaces xe-0/0/4 description "1BJ24-U38-10.90.7.240-Te1/0/21 (Po2#03)"
set interfaces xe-0/0/4 ether-options 802.3ad ae9
set interfaces xe-0/0/5 description "1BJ24-U38-10.90.7.240-Te1/0/23 (Po2#01)"
set interfaces xe-0/0/5 ether-options 802.3ad ae9
set interfaces xe-0/0/6 description HCM_1BJ16_U40_10.90.7.161_xe-0/2/0
set interfaces xe-0/0/6 ether-options 802.3ad ae19
set interfaces xe-0/0/7 description "HCM-1BJ23-10.90.7.231-xe-0/0/7-ae0#1"
set interfaces xe-0/0/7 ether-options 802.3ad ae7
set interfaces ge-0/0/8 description >1BJ12-U7-P1-vlan899
set interfaces ge-0/0/8 disable
set interfaces ge-0/0/8 unit 0 family ethernet-switching port-mode access
set interfaces ge-0/0/8 unit 0 family ethernet-switching vlan members 899
set interfaces xe-0/0/8 description "HCM-1BJ12-U41-10.90.7.121:xe-0/2/0(ae11#1)"
set interfaces xe-0/0/8 ether-options 802.3ad ae11
set interfaces ge-0/0/9 description >1BJ12-U8-P1-vlan899
set interfaces ge-0/0/9 disable
set interfaces ge-0/0/9 unit 0 family ethernet-switching port-mode access
set interfaces ge-0/0/9 unit 0 family ethernet-switching vlan members 899
set interfaces xe-0/0/9 description "HCM-1BJ11-10.90.7.111-xe-0/0/9-ae13#1"
set interfaces xe-0/0/9 ether-options 802.3ad ae13
set interfaces ge-0/0/12 description 1BJ17_10.90.7.172_P4_C198
set interfaces ge-0/0/12 unit 0 family ethernet-switching port-mode trunk
set interfaces ge-0/0/12 unit 0 family ethernet-switching vlan members 97
set interfaces ge-0/0/12 unit 0 family ethernet-switching vlan members 257
set interfaces ge-0/0/12 unit 0 family ethernet-switching vlan members 286
set interfaces ge-0/0/12 unit 0 family ethernet-switching vlan members 293-294
set interfaces xe-0/0/12 unit 0 family ethernet-switching
set interfaces ge-0/0/13 description "1BJ20-10.90.7.203-P4 (Trk1#1)-C202"
set interfaces ge-0/0/13 ether-options 802.3ad ae4
set interfaces xe-0/0/13 unit 0 family ethernet-switching
set interfaces ge-0/0/14 description HCM_1BJ19_10.90.7.191_U1
set interfaces ge-0/0/14 ether-options 802.3ad ae5
set interfaces xe-0/0/14 unit 0 family ethernet-switching
set interfaces ge-0/0/15 description "1BJ19-10.90.7.190-P4 (Trk1#2) - C206"
set interfaces ge-0/0/15 ether-options 802.3ad ae17
set interfaces xe-0/0/15 unit 0 family ethernet-switching
set interfaces ge-0/0/16 description 1BJ15-10.90.7.151-Gi0/24-C181
set interfaces ge-0/0/16 unit 0 family ethernet-switching port-mode trunk
set interfaces ge-0/0/16 unit 0 family ethernet-switching vlan members 97
set interfaces ge-0/0/16 unit 0 family ethernet-switching vlan members 250
set interfaces ge-0/0/16 unit 0 family ethernet-switching vlan members 257-258
set interfaces ge-0/0/16 unit 0 family ethernet-switching vlan members 284
set interfaces ge-0/0/16 unit 0 family ethernet-switching vlan members 294
set interfaces ge-0/0/16 unit 0 family ethernet-switching vlan members 836
set interfaces ge-0/0/16 unit 0 family ethernet-switching vlan members 882
set interfaces xe-0/0/16 unit 0 family ethernet-switching
set interfaces ge-0/0/17 disable
set interfaces xe-0/0/17 unit 0 family ethernet-switching
set interfaces ge-0/0/18 disable
set interfaces xe-0/0/18 unit 0 family ethernet-switching
set interfaces ge-0/0/19 disable
set interfaces xe-0/0/19 unit 0 family ethernet-switching
set interfaces ge-0/0/20 disable
set interfaces xe-0/0/20 description BJ11-U20
set interfaces xe-0/0/20 unit 0 family ethernet-switching port-mode trunk
set interfaces xe-0/0/20 unit 0 family ethernet-switching vlan members 236
set interfaces xe-0/0/20 unit 0 family ethernet-switching vlan members vlan250
set interfaces xe-0/0/20 unit 0 family ethernet-switching vlan members vlan257
set interfaces xe-0/0/21 description BJ11-U17
set interfaces xe-0/0/21 unit 0 family ethernet-switching port-mode trunk
set interfaces xe-0/0/21 unit 0 family ethernet-switching vlan members vlan250
set interfaces xe-0/0/21 unit 0 family ethernet-switching vlan members vlan257
set interfaces xe-0/0/22 description AU32-U7-P1
set interfaces xe-0/0/22 unit 0 family ethernet-switching port-mode access
set interfaces xe-0/0/22 unit 0 family ethernet-switching vlan members 847
set interfaces xe-0/0/23 description "1AU32-10.90.7.232-EXTEND-Te1/0/23-(PO1#1)"
set interfaces xe-0/0/23 ether-options 802.3ad ae10
set interfaces xe-0/0/26 disable
set interfaces xe-0/0/27 disable
set interfaces xe-0/0/28 description "1AU32-10.90.7.32-EXTEND-xe-0/1/0-(AE1#1)"
set interfaces xe-0/0/28 ether-options 802.3ad ae32
set interfaces xe-0/0/29 description "MX480-02:xe-5/0/2(ae0#5)"
set interfaces xe-0/0/29 ether-options 802.3ad ae0
set interfaces xe-0/0/30 description "MX480-01:xe-0/0/3(ae0#1)"
set interfaces xe-0/0/30 ether-options 802.3ad ae0
set interfaces xe-0/0/31 description "MX480-01:xe-5/0/7(ae0#2)"
set interfaces xe-0/0/31 ether-options 802.3ad ae0
set interfaces xe-0/1/0 disable
set interfaces xe-0/1/1 disable
set interfaces xe-0/1/2 description 1BJ17-10.90.7.173-Gi0/24-C190
set interfaces xe-0/1/2 unit 0 family ethernet-switching port-mode trunk
set interfaces xe-0/1/2 unit 0 family ethernet-switching vlan members 97
set interfaces xe-0/1/2 unit 0 family ethernet-switching vlan members 251
set interfaces xe-0/1/2 unit 0 family ethernet-switching vlan members 281
set interfaces xe-0/1/2 unit 0 family ethernet-switching vlan members 284
set interfaces xe-0/1/3 description 1BJ15-10.90.7.153-P4-C196
set interfaces xe-0/1/3 ether-options speed 1g
set interfaces xe-0/1/3 ether-options 802.3ad ae14
set interfaces xe-0/1/4 description 1BJ15-10.90.7.153-P1-C196
set interfaces xe-0/1/4 ether-options speed 1g
set interfaces xe-0/1/4 ether-options 802.3ad ae14
set interfaces xe-0/1/5 disable
set interfaces xe-0/1/6 disable
set interfaces xe-0/1/7 description "1BJ20-10.90.7.201-Gi1/0/19 (Po1#1)-C175"
set interfaces xe-0/1/7 ether-options speed 1g
set interfaces xe-0/1/7 ether-options 802.3ad ae15
set interfaces xe-1/0/0 disable
set interfaces xe-1/0/1 disable
set interfaces xe-1/0/2 disable
set interfaces xe-1/0/3 description Server_1BJ11-U29-P2-10G
set interfaces xe-1/0/3 ether-options 802.3ad ae8
set interfaces xe-1/0/4 description "1BJ24-U38-10.90.7.240-Te1/0/22 (Po2#04)"
set interfaces xe-1/0/4 ether-options 802.3ad ae9
set interfaces xe-1/0/5 description "HCM-1BJ21-U41-10.90.7.211:xe-0/2/0(ae12#1)"
set interfaces xe-1/0/5 ether-options 802.3ad ae12
set interfaces xe-1/0/6 description HCM_1BJ16-17_U40_10.90.7.161_xe-1/2/0
set interfaces xe-1/0/6 ether-options 802.3ad ae19
set interfaces ge-1/0/12 description 1BJ20-10.90.7.202-P4-C200
set interfaces ge-1/0/12 unit 0 family ethernet-switching port-mode trunk
set interfaces ge-1/0/12 unit 0 family ethernet-switching vlan members 97
set interfaces ge-1/0/12 unit 0 family ethernet-switching vlan members 258
set interfaces ge-1/0/12 unit 0 family ethernet-switching vlan members 281
set interfaces ge-1/0/12 unit 0 family ethernet-switching vlan members 882
set interfaces ge-1/0/12 unit 0 family ethernet-switching vlan members 889
set interfaces ge-1/0/13 description 1BJ19-10.90.7.194-P4-C205
set interfaces ge-1/0/13 ether-options 802.3ad ae16
set interfaces ge-1/0/14 description HCM_1BJ19_10.90.7.191_U1
set interfaces ge-1/0/14 ether-options 802.3ad ae5
set interfaces ge-1/0/15 description 1BJ15-10.90.7.150-Gi1/0/20-C180
set interfaces ge-1/0/15 unit 0 family ethernet-switching port-mode trunk
set interfaces ge-1/0/15 unit 0 family ethernet-switching vlan members 97
set interfaces ge-1/0/15 unit 0 family ethernet-switching vlan members 250
set interfaces ge-1/0/15 unit 0 family ethernet-switching vlan members 255
set interfaces ge-1/0/15 unit 0 family ethernet-switching vlan members 257-258
set interfaces ge-1/0/15 unit 0 family ethernet-switching vlan members 836
set interfaces ge-1/0/15 unit 0 family ethernet-switching vlan members 845
set interfaces ge-1/0/15 unit 0 family ethernet-switching vlan members 882
set interfaces ge-1/0/15 unit 0 family ethernet-switching vlan members 889
set interfaces ge-1/0/15 unit 0 family ethernet-switching vlan members 891-892
set interfaces ge-1/0/15 unit 0 family ethernet-switching vlan members 899
set interfaces ge-1/0/16 description 1BJ15-10.90.7.152-P4-C185
set interfaces ge-1/0/16 unit 0 family ethernet-switching port-mode trunk
set interfaces ge-1/0/16 unit 0 family ethernet-switching vlan members 97
set interfaces ge-1/0/16 unit 0 family ethernet-switching vlan members 221
set interfaces ge-1/0/16 unit 0 family ethernet-switching vlan members 252
set interfaces ge-1/0/16 unit 0 family ethernet-switching vlan members 291
set interfaces ge-1/0/16 unit 0 family ethernet-switching vlan members 294
set interfaces ge-1/0/16 unit 0 family ethernet-switching vlan members 845
set interfaces ge-1/0/16 unit 0 family ethernet-switching vlan members 882
set interfaces ge-1/0/18 disable
set interfaces ge-1/0/19 disable
set interfaces ge-1/0/20 disable
set interfaces xe-1/0/23 description "1AU32-10.90.7.232-EXTEND-Te1/0/24-(Po1#2)"
set interfaces xe-1/0/23 ether-options 802.3ad ae10
set interfaces xe-1/0/24 description ">HCM-1BJ19-CS197-10.90.7.193-Te1/1/1(ae18#1)"
set interfaces xe-1/0/24 ether-options 802.3ad ae18
set interfaces ge-1/0/25 description 1AC38-EX4200-MirrorSW-Ge-0/0/7
set interfaces ge-1/0/25 disable
set interfaces ge-1/0/25 unit 0 family ethernet-switching
set interfaces xe-1/0/26 description "EX4200-Z7 (10.90.7.2) : xe-0/1/0"
set interfaces xe-1/0/26 unit 0 family ethernet-switching port-mode trunk
set interfaces xe-1/0/26 unit 0 family ethernet-switching vlan members all
set interfaces xe-1/0/27 description "1BJ24-U38-10.90.7.240-Te1/0/24 (Po2#02)"
set interfaces xe-1/0/27 ether-options 802.3ad ae9
set interfaces xe-1/0/28 description "1AU32-10.90.7.32-EXTEND-xe-0/1/2 (AE1#2)"
set interfaces xe-1/0/28 ether-options 802.3ad ae32
set interfaces xe-1/0/29 description "MX480-01:xe-1/0/6(ae0#3)"
set interfaces xe-1/0/29 ether-options 802.3ad ae0
set interfaces xe-1/0/30 description "MX480-02:xe-0/0/3(ae0#4)"
set interfaces xe-1/0/30 ether-options 802.3ad ae0
set interfaces xe-1/0/31 description "MX480-02:xe-5/0/7(ae0#6)"
set interfaces xe-1/0/31 ether-options 802.3ad ae0
set interfaces xe-1/1/0 disable
set interfaces xe-1/1/1 disable
set interfaces xe-1/1/2 description 1BJ20-10.90.7.200-Gi1/0/20-C195
set interfaces xe-1/1/2 unit 0 family ethernet-switching port-mode trunk
set interfaces xe-1/1/2 unit 0 family ethernet-switching vlan members 97
set interfaces xe-1/1/2 unit 0 family ethernet-switching vlan members 257-258
set interfaces xe-1/1/2 unit 0 family ethernet-switching vlan members 275
set interfaces xe-1/1/2 unit 0 family ethernet-switching vlan members 281
set interfaces xe-1/1/2 unit 0 family ethernet-switching vlan members 286
set interfaces xe-1/1/2 unit 0 family ethernet-switching vlan members 291
set interfaces xe-1/1/2 unit 0 family ethernet-switching vlan members 836
set interfaces xe-1/1/2 unit 0 family ethernet-switching vlan members 845
set interfaces xe-1/1/2 unit 0 family ethernet-switching vlan members 889
set interfaces xe-1/1/2 unit 0 family ethernet-switching vlan members 891-892
set interfaces xe-1/1/2 unit 0 family ethernet-switching vlan members 899
set interfaces xe-1/1/3 description 1BJ15-10.90.7.153-P2-C196
set interfaces xe-1/1/3 ether-options speed 1g
set interfaces xe-1/1/3 ether-options 802.3ad ae14
set interfaces xe-1/1/4 description 1BJ15-10.90.7.153-P3-C196
set interfaces xe-1/1/4 ether-options speed 1g
set interfaces xe-1/1/4 ether-options 802.3ad ae14
set interfaces xe-1/1/5 disable
set interfaces xe-1/1/6 disable
set interfaces xe-1/1/7 description "1BJ20-10.90.7.201-Gi1/0/20 (Po1#2)-C175"
set interfaces xe-1/1/7 ether-options speed 1g
set interfaces xe-1/1/7 ether-options 802.3ad ae15
set interfaces ae0 description "MX480-01&MX480-02:ae17"
set interfaces ae0 aggregated-ether-options lacp passive
set interfaces ae0 unit 0 family ethernet-switching port-mode trunk
set interfaces ae0 unit 0 family ethernet-switching vlan members all
set interfaces ae4 description "1BJ20-10.90.7.203-Trk1 (P4)-C202"
set interfaces ae4 unit 0 family ethernet-switching port-mode trunk
set interfaces ae4 unit 0 family ethernet-switching vlan members 97
set interfaces ae4 unit 0 family ethernet-switching vlan members 235
set interfaces ae4 unit 0 family ethernet-switching vlan members 825
set interfaces ae4 unit 0 family ethernet-switching vlan members 827
set interfaces ae4 unit 0 family ethernet-switching vlan members 846
set interfaces ae4 unit 0 family ethernet-switching vlan members 882
set interfaces ae4 unit 0 family ethernet-switching vlan members 889
set interfaces ae4 unit 0 family ethernet-switching vlan members 891-892
set interfaces ae4 unit 0 family ethernet-switching vlan members 1287
set interfaces ae5 description HCM_1BJ19_10.90.7.191_Trk1
set interfaces ae5 unit 0 family ethernet-switching port-mode trunk
set interfaces ae5 unit 0 family ethernet-switching vlan members 97
set interfaces ae5 unit 0 family ethernet-switching vlan members 257
set interfaces ae5 unit 0 family ethernet-switching vlan members 266
set interfaces ae5 unit 0 family ethernet-switching vlan members 275
set interfaces ae5 unit 0 family ethernet-switching vlan members 286
set interfaces ae5 unit 0 family ethernet-switching vlan members 841
set interfaces ae5 unit 0 family ethernet-switching vlan members 882
set interfaces ae7 description HCM-1BJ23-10.90.7.231-ae0
set interfaces ae7 aggregated-ether-options lacp active
set interfaces ae7 unit 0 family ethernet-switching port-mode trunk
set interfaces ae7 unit 0 family ethernet-switching vlan members 97
set interfaces ae7 unit 0 family ethernet-switching vlan members 201
set interfaces ae7 unit 0 family ethernet-switching vlan members 257
set interfaces ae7 unit 0 family ethernet-switching vlan members 274-275
set interfaces ae7 unit 0 family ethernet-switching vlan members 287
set interfaces ae7 unit 0 family ethernet-switching vlan members 291
set interfaces ae7 unit 0 family ethernet-switching vlan members 293
set interfaces ae7 unit 0 family ethernet-switching vlan members 847
set interfaces ae9 description "1BJ24-U38-10.90.7.240-Po2 (Te1/0/21-24)"
set interfaces ae9 unit 0 family ethernet-switching port-mode trunk
set interfaces ae9 unit 0 family ethernet-switching vlan members 97
set interfaces ae9 unit 0 family ethernet-switching vlan members 252
set interfaces ae9 unit 0 family ethernet-switching vlan members 275
set interfaces ae9 unit 0 family ethernet-switching vlan members 291
set interfaces ae9 unit 0 family ethernet-switching vlan members 829
set interfaces ae9 unit 0 family ethernet-switching vlan members 842
set interfaces ae9 unit 0 family ethernet-switching vlan members vlan847
set interfaces ae10 description "1AU32-10.90.7.232-EXTEND-PO1 (Te1/0/23-24)"
set interfaces ae10 unit 0 family ethernet-switching port-mode trunk
set interfaces ae10 unit 0 family ethernet-switching vlan members 97
set interfaces ae10 unit 0 family ethernet-switching vlan members 292
set interfaces ae10 unit 0 family ethernet-switching vlan members 846-847
set interfaces ae10 unit 0 family ethernet-switching filter input LIMIT-CSM-10GB
set interfaces ae11 description "HCM-1BJ12-U41-10.90.7.121:ae0(xe-0/2/0,xe-0/2/1)"
set interfaces ae11 aggregated-ether-options lacp active
set interfaces ae11 unit 0 family ethernet-switching port-mode trunk
set interfaces ae11 unit 0 family ethernet-switching vlan members 97
set interfaces ae11 unit 0 family ethernet-switching vlan members 256-257
set interfaces ae11 unit 0 family ethernet-switching vlan members 287
set interfaces ae11 unit 0 family ethernet-switching vlan members 882
set interfaces ae11 unit 0 family ethernet-switching vlan members 889
set interfaces ae11 unit 0 family ethernet-switching vlan members 891-892
set interfaces ae11 unit 0 family ethernet-switching vlan members 1287
set interfaces ae12 description "HCM-1BJ21-U41-10.90.7.211:ae0(xe-0/2/0)"
set interfaces ae12 aggregated-ether-options lacp active
set interfaces ae12 unit 0 family ethernet-switching port-mode trunk
set interfaces ae12 unit 0 family ethernet-switching vlan members 97
set interfaces ae12 unit 0 family ethernet-switching vlan members 257
set interfaces ae12 unit 0 family ethernet-switching vlan members 275
set interfaces ae12 unit 0 family ethernet-switching vlan members 882
set interfaces ae13 description "HCM-1BJ11-10.90.7.111-ae0(xe-0/2/0)"
set interfaces ae13 aggregated-ether-options lacp active
set interfaces ae13 unit 0 family ethernet-switching port-mode trunk
set interfaces ae13 unit 0 family ethernet-switching vlan members 97
set interfaces ae13 unit 0 family ethernet-switching vlan members 219
set interfaces ae13 unit 0 family ethernet-switching vlan members 236
set interfaces ae13 unit 0 family ethernet-switching vlan members 250-251
set interfaces ae13 unit 0 family ethernet-switching vlan members 257-258
set interfaces ae13 unit 0 family ethernet-switching vlan members 846
set interfaces ae13 unit 0 family ethernet-switching vlan members 882
set interfaces ae14 description 1BJ15-10.90.7.153-Po1-C196
set interfaces ae14 unit 0 family ethernet-switching port-mode trunk
set interfaces ae14 unit 0 family ethernet-switching vlan members 97
set interfaces ae14 unit 0 family ethernet-switching vlan members 235
set interfaces ae14 unit 0 family ethernet-switching vlan members 257
set interfaces ae14 unit 0 family ethernet-switching vlan members 277
set interfaces ae14 unit 0 family ethernet-switching vlan members 281
set interfaces ae14 unit 0 family ethernet-switching vlan members 286-287
set interfaces ae14 unit 0 family ethernet-switching vlan members 294
set interfaces ae14 unit 0 family ethernet-switching vlan members 882-883
set interfaces ae15 description "1BJ20-10.90.7.201-Po1 (Gi1/0/19-20)-C175"
set interfaces ae15 unit 0 family ethernet-switching port-mode trunk
set interfaces ae15 unit 0 family ethernet-switching vlan members 97
set interfaces ae15 unit 0 family ethernet-switching vlan members 281
set interfaces ae15 unit 0 family ethernet-switching vlan members 284
set interfaces ae15 unit 0 family ethernet-switching vlan members 845-846
set interfaces ae16 description 1BJ19-10.90.7.194-Trk1-C205
set interfaces ae16 unit 0 family ethernet-switching port-mode trunk
set interfaces ae16 unit 0 family ethernet-switching vlan members 97
set interfaces ae16 unit 0 family ethernet-switching vlan members 829
set interfaces ae16 unit 0 family ethernet-switching vlan members 841
set interfaces ae17 description "1BJ19-10.90.7.190-Trk1 (P3-4) - C206"
set interfaces ae17 unit 0 family ethernet-switching port-mode trunk
set interfaces ae17 unit 0 family ethernet-switching vlan members 97
set interfaces ae17 unit 0 family ethernet-switching vlan members 235
set interfaces ae17 unit 0 family ethernet-switching vlan members 255
set interfaces ae17 unit 0 family ethernet-switching vlan members 257
set interfaces ae17 unit 0 family ethernet-switching vlan members 281
set interfaces ae17 unit 0 family ethernet-switching vlan members 825
set interfaces ae17 unit 0 family ethernet-switching vlan members 845
set interfaces ae17 unit 0 family ethernet-switching vlan members 889
set interfaces ae17 unit 0 family ethernet-switching vlan members 891-892
set interfaces ae17 unit 0 family ethernet-switching vlan members 1287
set interfaces ae18 description ">HCM-1BJ19-CS197-10.90.7.193:Br1(xe-1/0/24)"
set interfaces ae18 aggregated-ether-options lacp active
set interfaces ae18 unit 0 family ethernet-switching port-mode trunk
set interfaces ae18 unit 0 family ethernet-switching vlan members 97
set interfaces ae19 description HCM_1BJ16_U40_10.90.7.161_ae0
set interfaces ae19 aggregated-ether-options lacp active
set interfaces ae19 unit 0 family ethernet-switching port-mode trunk
set interfaces ae19 unit 0 family ethernet-switching vlan members 97
set interfaces ae19 unit 0 family ethernet-switching vlan members 211
set interfaces ae19 unit 0 family ethernet-switching vlan members 235
set interfaces ae19 unit 0 family ethernet-switching vlan members 829
set interfaces ae19 unit 0 family ethernet-switching vlan members 868
set interfaces ae20 description ">1BJ13-10.90.7.131:ae0(xe-0/2/0)"
set interfaces ae20 aggregated-ether-options lacp active
set interfaces ae20 unit 0 family ethernet-switching port-mode trunk
set interfaces ae20 unit 0 family ethernet-switching vlan members 97
set interfaces ae20 unit 0 family ethernet-switching vlan members 236
set interfaces ae20 unit 0 family ethernet-switching vlan members 250
set interfaces ae20 unit 0 family ethernet-switching vlan members 256-257
set interfaces ae20 unit 0 family ethernet-switching vlan members 291
set interfaces ae20 unit 0 family ethernet-switching vlan members 882
set interfaces ae32 description 1AU32-10.90.7.32-EXTEND-AE1
set interfaces ae32 unit 0 family ethernet-switching port-mode trunk
set interfaces ae32 unit 0 family ethernet-switching vlan members 97
set interfaces ae32 unit 0 family ethernet-switching vlan members 822
set interfaces ae32 unit 0 family ethernet-switching vlan members 846-847
set interfaces ae32 unit 0 family ethernet-switching vlan members 889
set interfaces ae33 description 1AU33-10.90.7.33-EXTEND-AE1
set interfaces ae33 unit 0 family ethernet-switching port-mode trunk
set interfaces ae33 unit 0 family ethernet-switching vlan members 97
set interfaces lo0 unit 0 family inet filter input RE-inbound-filter
set interfaces lo0 unit 0 family inet address 10.77.0.107/32
set interfaces me0 description 1AC33-C3560-OOB:Gi0/6
set interfaces me0 unit 0 family inet address 10.73.2.232/24
set interfaces vlan unit 54 description VLAN_MNGT_AGG
set interfaces vlan unit 54 family inet address 10.78.14.7/24
set snmp community vngro clients 10.73.2.2/32
set snmp community vngro clients 10.73.2.1/32
set snmp community vngro clients 192.168.0.91/32
set snmp community vngro clients 10.73.2.11/32
set snmp community vngro clients 10.73.2.24/32
set snmp community vgro clients 10.73.2.24/32
set snmp community "Comm@Vinadata#" authorization read-only
set snmp community "Comm@Vinadata#" clients 10.73.2.1/32
set snmp community "Comm@Vinadata#" clients 10.73.2.2/32
set snmp trap-options
set snmp trap-group interface categories link
set snmp trap-group interface targets 10.73.2.240
set snmp health-monitor
set routing-options static route 118.102.0.74/32 qualified-next-hop 10.73.2.221 preference 10
set routing-options forwarding-table export load-balance
set protocols igmp-snooping vlan all
set protocols mstp configuration-name VNG
set protocols mstp bridge-priority 4k
set protocols mstp interface ae7.0 no-root-port
set protocols mstp interface ae20.0 no-root-port
set protocols mstp interface all no-root-port
set protocols lldp port-id-subtype interface-name
set protocols lldp interface all
set protocols lldp-med interface all
set policy-options prefix-list vng-terminal 10.73.2.74/32
set policy-options prefix-list vng-terminal 10.73.2.75/32
set policy-options prefix-list vng-terminal 118.102.0.74/32
set policy-options prefix-list DeviceExpert 10.73.2.3/32
set policy-options prefix-list DeviceExpert 10.73.2.4/32
set policy-options prefix-list DeviceExpert 10.73.2.25/32
set policy-options prefix-list mgt-networks 10.73.2.0/24
set policy-options prefix-list NETCONFIG-SERVER-NAT 10.73.2.3/32
set policy-options prefix-list CSM-LIMIT-10GB 49.213.67.224/27
set policy-options prefix-list CSM-LIMIT-10GB 49.213.110.128/26
set policy-options prefix-list CSM-LIMIT-10GB 49.213.110.192/26
set policy-options policy-statement load-balance then load-balance per-packet
set firewall family inet filter RE-inbound-filter term allow-ospf from protocol ospf
set firewall family inet filter RE-inbound-filter term allow-ospf then accept
set firewall family inet filter RE-inbound-filter term allow-trusted-ssh from source-address 10.73.2.27/32
set firewall family inet filter RE-inbound-filter term allow-trusted-ssh from source-prefix-list DeviceExpert
set firewall family inet filter RE-inbound-filter term allow-trusted-ssh from source-prefix-list vng-terminal
set firewall family inet filter RE-inbound-filter term allow-trusted-ssh from destination-port 22
set firewall family inet filter RE-inbound-filter term allow-trusted-ssh then accept
set firewall family inet filter RE-inbound-filter term deny-untrusted-ssh from protocol tcp
set firewall family inet filter RE-inbound-filter term deny-untrusted-ssh from destination-port 22
set firewall family inet filter RE-inbound-filter term deny-untrusted-ssh then discard
set firewall family inet filter RE-inbound-filter term allow-management-traffic from source-prefix-list mgt-networks
set firewall family inet filter RE-inbound-filter term allow-management-traffic from protocol udp
set firewall family inet filter RE-inbound-filter term allow-management-traffic from protocol tcp
set firewall family inet filter RE-inbound-filter term allow-management-traffic then accept
set firewall family inet filter RE-inbound-filter term allow-icmp from protocol icmp
set firewall family inet filter RE-inbound-filter term allow-icmp from icmp-type time-exceeded
set firewall family inet filter RE-inbound-filter term allow-icmp from icmp-type echo-reply
set firewall family inet filter RE-inbound-filter term allow-icmp from icmp-type echo-request
set firewall family inet filter RE-inbound-filter term allow-icmp from icmp-type unreachable
set firewall family inet filter RE-inbound-filter term allow-icmp then accept
set firewall family inet filter RE-inbound-filter term allow-iostracert from protocol udp
set firewall family inet filter RE-inbound-filter term allow-iostracert from destination-port 33434-33523
set firewall family inet filter RE-inbound-filter term allow-iostracert then accept
set firewall family inet filter RE-inbound-filter term ALLOW-NETCONFIG from destination-address 10.73.2.232/32
set firewall family inet filter RE-inbound-filter term ALLOW-NETCONFIG from source-prefix-list NETCONFIG-SERVER-NAT
set firewall family inet filter RE-inbound-filter term ALLOW-NETCONFIG from protocol tcp
set firewall family inet filter RE-inbound-filter term ALLOW-NETCONFIG from destination-port 830
set firewall family inet filter RE-inbound-filter term ALLOW-NETCONFIG then accept
set firewall family inet filter RE-inbound-filter term discard-end then discard
set firewall family ethernet-switching filter Limit-Talk-Video-CDN term 1 then accept
set firewall family ethernet-switching filter Limit-Talk-Video-CDN term 1 then policer 1G-Limit
set firewall family ethernet-switching filter LIMIT-CSM-10GB term LIMIT-CSM-10GB from source-prefix-list CSM-LIMIT-10GB
set firewall family ethernet-switching filter LIMIT-CSM-10GB term LIMIT-CSM-10GB then count CSM-count
deactivate firewall family ethernet-switching filter LIMIT-CSM-10GB term LIMIT-CSM-10GB then count
set firewall family ethernet-switching filter LIMIT-CSM-10GB term LIMIT-CSM-10GB then policer LIMIT-CSM-10GB
set firewall family ethernet-switching filter LIMIT-CSM-10GB term END then accept
set firewall policer limit-icmp if-exceeding bandwidth-limit 1m
set firewall policer limit-icmp if-exceeding burst-size-limit 15k
set firewall policer limit-icmp then discard
set firewall policer 1G-Limit if-exceeding bandwidth-limit 1g
set firewall policer 1G-Limit if-exceeding burst-size-limit 100m
set firewall policer 1G-Limit then discard
set firewall policer LIMIT-CSM-10GB if-exceeding bandwidth-limit 10g
set firewall policer LIMIT-CSM-10GB if-exceeding burst-size-limit 125m
set firewall policer LIMIT-CSM-10GB then discard
set ethernet-switching-options storm-control interface all level 50
set vlans VLAN252 vlan-id 252
set vlans VLAN292 vlan-id 292
set vlans VLAN54 description VLAN_MNGT_AGG
set vlans VLAN54 vlan-id 54
set vlans VLAN54 l3-interface vlan.54
set vlans VLAN825 vlan-id 825
set vlans VLAN827 vlan-id 827
set vlans VLAN868 vlan-id 868
set vlans vlan1202 vlan-id 1202
set vlans vlan1223 description G1_GS_NLVN
set vlans vlan1223 vlan-id 1223
set vlans vlan1235 description GE_MTO_ZPCGSN
set vlans vlan1235 vlan-id 1235
set vlans vlan1242 description BO_IT_Int
set vlans vlan1242 vlan-id 1242
set vlans vlan1287 description GT_Framework
set vlans vlan1287 vlan-id 1287
set vlans vlan201 description GE_CHN_CSM
set vlans vlan201 vlan-id 201
set vlans vlan211 description G2_WTE_ZBaomoi_211
set vlans vlan211 vlan-id 211
set vlans vlan219 description DC__NET
set vlans vlan219 vlan-id 219
set vlans vlan221 vlan-id 221
set vlans vlan235 description WT_ZME_Zalo
set vlans vlan235 vlan-id 235
set vlans vlan236 description TAG__CDN
set vlans vlan236 vlan-id 236
set vlans vlan250 description GSO_GN_Gunny
set vlans vlan250 vlan-id 250
set vlans vlan251 description GSO_GN_Gunny_GMTool_Vlan251
set vlans vlan251 vlan-id 251
set vlans vlan253 description __
set vlans vlan253 vlan-id 253
set vlans vlan255 vlan-id 255
set vlans vlan256 description GPI__DLS
set vlans vlan256 vlan-id 256
set vlans vlan257 description GPI__DLS
set vlans vlan257 vlan-id 257
set vlans vlan258 description G3_ZAD_ZingAdvertising
set vlans vlan258 vlan-id 258
set vlans vlan266 description Zalo_ZTE_Zalo_SS
set vlans vlan266 vlan-id 266
set vlans vlan274 vlan-id 274
set vlans vlan275 description GE_WPL_360Live
set vlans vlan275 vlan-id 275
set vlans vlan277 description SO6_GSS_HappyMe
set vlans vlan277 vlan-id 277
set vlans vlan281 description SO6_G6Mobile
set vlans vlan281 vlan-id 281
set vlans vlan284 description SO6__ShareSys
set vlans vlan284 vlan-id 284
set vlans vlan286 description GSO_NLVN_NgoaLong
set vlans vlan286 vlan-id 286
set vlans vlan287 description SO6__WebFarm
set vlans vlan287 vlan-id 287
set vlans vlan291 description TAG__CDN
set vlans vlan291 vlan-id 291
set vlans vlan293 description SO6_IFRS_IFRS
set vlans vlan293 vlan-id 293
set vlans vlan294 description GPI__ShareSys
set vlans vlan294 vlan-id 294
set vlans vlan297
set vlans vlan822 vlan-id 822
set vlans vlan829 vlan-id 829
set vlans vlan832 description ISO_Internal-Tool
set vlans vlan832 vlan-id 832
set vlans vlan836 vlan-id 836
set vlans vlan838 vlan-id 838
set vlans vlan841 description GE_WPL_ZME
set vlans vlan841 vlan-id 841
set vlans vlan842 description GE_TALK_TALK
set vlans vlan842 vlan-id 842
set vlans vlan845 description G6_SO6_G6Mobile
set vlans vlan845 vlan-id 845
set vlans vlan846 description GE_GS_CSM
set vlans vlan846 vlan-id 846
set vlans vlan847 description GE_GS_CSM
set vlans vlan847 vlan-id 847
set vlans vlan882 vlan-id 882
set vlans vlan883 vlan-id 883
set vlans vlan889 description GE_MTO_DOCKER
set vlans vlan889 vlan-id 889
set vlans vlan891 description GE_MTO_MTOpayment
set vlans vlan891 vlan-id 891
set vlans vlan892 description GE_MTO_MTOPassport
set vlans vlan892 vlan-id 892
set vlans vlan899 description BO1_ISO_VPN
set vlans vlan899 vlan-id 899
set vlans vlan97 description DC__MGT_Zone7
set vlans vlan97 vlan-id 97
set virtual-chassis preprovisioned
set virtual-chassis no-split-detection
set virtual-chassis member 0 role routing-engine
set virtual-chassis member 0 serial-number LX0214411008
set virtual-chassis member 1 role routing-engine
set virtual-chassis member 1 serial-number LX0214411136
{master:0}

