set version 12.3X48-D75.4
set groups node0 system host-name AC40_SRX3600_PUBLIC_N0
set groups node0 interfaces fxp0 unit 0 family inet address 10.73.2.205/24 master-only
set groups node0 interfaces fxp0 unit 0 family inet address 10.73.2.207/24
set groups node1 system host-name BL42_SRX3600_PUBLIC_N1
set groups node1 interfaces fxp0 unit 0 family inet address 10.73.2.206/24
set groups node1 interfaces fxp0 unit 0 family inet address 10.73.2.205/24 master-only
set apply-groups "${node}"
set system time-zone Asia/Saigon
set system no-redirects
set system no-ping-record-route
set system no-ping-time-stamp
set system internet-options no-source-quench
set system internet-options tcp-drop-synfin-set
set system authentication-order tacplus
set system authentication-order password
set system ports console log-out-on-disconnect
set system root-authentication encrypted-password "$1$qP1wsUNr$kRt/QHBiVUi5xUAKg0M1B0"
set system tacplus-server 10.73.2.252 secret "$9$OC2U1IhrlMXNbwYfTQz6/reKvX7"
set system tacplus-server 10.73.2.252 single-connection
set system tacplus-server 10.73.2.252 source-address 10.73.2.205
set system tacplus-server 10.73.2.249 secret "$9$qmPT3nCuBEhSwY2gJZ36/9uO"
set system tacplus-server 10.73.2.249 single-connection
set system tacplus-server 10.73.2.249 source-address 10.73.2.205
set system login user admin uid 2002
set system login user admin class super-user
set system login user admin authentication encrypted-password "$1$oKxz4KIj$AkJRBVGQ7oIfBvfbqrFM21"
set system services ssh root-login deny
set system services ssh protocol-version v2
set system services ssh connection-limit 5
set system services netconf ssh
set system syslog archive size 1m
set system syslog archive files 10
set system syslog user * any emergency
set system syslog host 10.73.2.240 any any
set system syslog host 10.73.2.240 log-prefix 1AC40_SRX3600-FIREWALL-PUBLIC_10.73.2.205
set system syslog host 10.73.2.240 explicit-priority
set system syslog host 10.73.2.8 any any
set system syslog host 10.73.2.8 log-prefix 1AC40_SRX3600-FIREWALL-PUBLIC_10.73.2.205
set system syslog host 10.73.2.8 explicit-priority
set system syslog file messages any any
set system syslog file messages authorization info
set system syslog file messages explicit-priority
set system syslog file interactive-commands interactive-commands any
set system syslog file link match SNMP_TRAP_LINK
set system syslog file auth authorization info
set system syslog file auth match "(SNMPD_AUTH|SSHD_LOGIN)_FAIL"
set system syslog file error any info
set system syslog file error match "(ERROR|WARNING|ALARM)"
set system syslog file config-changes change-log info
set system license autoupdate url https://ae1.juniper.net/junos/key_retrieval
set system ntp authentication-key 1 type md5
set system ntp authentication-key 1 value "$9$Gvim5n6A0ORn/u1IEKv"
set system ntp server 10.73.2.240 key 1
set system ntp server 10.73.2.240 prefer
set system ntp server 10.73.2.8 key 1
set system ntp trusted-key 1
set chassis aggregated-devices ethernet device-count 16
set chassis cluster control-link-recovery
set chassis cluster reth-count 8
set chassis cluster redundancy-group 0 node 1 priority 1
set chassis cluster redundancy-group 0 node 0 priority 254
set chassis cluster redundancy-group 1 node 0 priority 254
set chassis cluster redundancy-group 1 node 1 priority 1
set chassis cluster redundancy-group 1 interface-monitor xe-4/0/0 weight 128
set chassis cluster redundancy-group 1 interface-monitor xe-4/0/1 weight 128
set chassis cluster redundancy-group 1 interface-monitor xe-17/0/0 weight 128
set chassis cluster redundancy-group 1 interface-monitor xe-17/0/1 weight 128
set security address-book global address 118.102.5.32/27 118.102.5.32/27
set security address-book global address 222.255.122.3/32 222.255.122.3/32
set security address-book global address 118.102.5.36/32 118.102.5.36/32
set security address-book global address 222.255.122.112/32 222.255.122.112/32
set security address-book global address 49.213.111.67/32 49.213.111.67/32
set security address-book global address 118.102.5.56/32 118.102.5.56/32
set security address-book global address 112.78.7.141/32 112.78.7.141/32
set security address-book global address 118.102.5.46/32 118.102.5.46/32
set security address-book global address 118.102.5.58/32 118.102.5.58/32
set security address-book global address 118.102.5.62/32 118.102.5.62/32
set security address-book global address 122.201.11.130/32 122.201.11.130/32
set security address-book global address 202.172.4.16/32 202.172.4.16/32
set security address-book global address 118.102.5.59/32 118.102.5.59/32
set security address-book global address 203.190.170.41/32 203.190.170.41/32
set security address-book global address 203.190.170.42/31 203.190.170.42/31
set security address-book global address 122.201.11.74/32 122.201.11.74/32
set security address-book global address 122.201.11.69/32 122.201.11.69/32
set security address-book global address 61.28.254.106/31 61.28.254.106/31
set security address-book global address 118.102.7.243/32 118.102.7.243/32
set security address-book global address 103.73.232.140/31 103.73.232.140/31
set security address-book global address 103.73.232.142/32 103.73.232.142/32
set security address-book global address 45.127.252.141/32 45.127.252.141/32
set security address-book global address 45.127.253.196/31 45.127.253.196/31
set security address-book global address 45.127.253.198/32 45.127.253.198/32
set security address-book global address 103.73.232.140/32 103.73.232.140/32
set security address-book global address 120.138.76.49/32 120.138.76.49/32
set security address-book global address 118.102.5.60/31 118.102.5.60/31
set security address-book global address 120.138.64.142/32 120.138.64.142/32
set security address-book global address 49.213.81.36/32 49.213.81.36/32
set security address-book global address 49.213.113.19/32 49.213.113.19/32
set security address-book global address 49.213.113.20/32 49.213.113.20/32
set security address-book global address 61.28.254.109/32 61.28.254.109/32
set security address-book global address 49.213.116.35/32 49.213.116.35/32
set security address-book global address 61.28.251.99/32 61.28.251.99/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T2 match source-address any
set security policies from-zone EXTERNAL to-zone VLAN208 policy T2 match destination-address 118.102.5.32/27
set security policies from-zone EXTERNAL to-zone VLAN208 policy T2 match application junos-icmp-all
set security policies from-zone EXTERNAL to-zone VLAN208 policy T2 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T3 match source-address any
set security policies from-zone EXTERNAL to-zone VLAN208 policy T3 match destination-address 118.102.5.32/27
set security policies from-zone EXTERNAL to-zone VLAN208 policy T3 match application tcp_d_80
set security policies from-zone EXTERNAL to-zone VLAN208 policy T3 match application tcp_d_443
set security policies from-zone EXTERNAL to-zone VLAN208 policy T3 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T4 match source-address 222.255.122.3/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T4 match destination-address 118.102.5.36/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T4 match application tcp_s_80
set security policies from-zone EXTERNAL to-zone VLAN208 policy T4 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T5 match source-address 222.255.122.112/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T5 match destination-address 118.102.5.36/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T5 match application tcp_s_80
set security policies from-zone EXTERNAL to-zone VLAN208 policy T5 match application tcp_s_10001
set security policies from-zone EXTERNAL to-zone VLAN208 policy T5 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T9 match source-address 49.213.111.67/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T9 match destination-address 118.102.5.56/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T9 match application tcp_d_443
set security policies from-zone EXTERNAL to-zone VLAN208 policy T9 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T10 match source-address 112.78.7.141/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T10 match destination-address 118.102.5.56/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T10 match application tcp_s_1500
set security policies from-zone EXTERNAL to-zone VLAN208 policy T10 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T11 match source-address any
set security policies from-zone EXTERNAL to-zone VLAN208 policy T11 match destination-address 118.102.5.46/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T11 match application tcp_d_8080
set security policies from-zone EXTERNAL to-zone VLAN208 policy T11 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T12 match source-address any
set security policies from-zone EXTERNAL to-zone VLAN208 policy T12 match destination-address 118.102.5.32/27
set security policies from-zone EXTERNAL to-zone VLAN208 policy T12 match application tcp_s_8985
set security policies from-zone EXTERNAL to-zone VLAN208 policy T12 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T13 match source-address any
set security policies from-zone EXTERNAL to-zone VLAN208 policy T13 match destination-address 118.102.5.46/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T13 match application tcp_d_9000
set security policies from-zone EXTERNAL to-zone VLAN208 policy T13 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T14 match source-address any
set security policies from-zone EXTERNAL to-zone VLAN208 policy T14 match destination-address 118.102.5.56/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T14 match application tcp_d_9000
set security policies from-zone EXTERNAL to-zone VLAN208 policy T14 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T15 match source-address any
set security policies from-zone EXTERNAL to-zone VLAN208 policy T15 match destination-address 118.102.5.58/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T15 match application tcp_d_9000
set security policies from-zone EXTERNAL to-zone VLAN208 policy T15 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T16 match source-address any
set security policies from-zone EXTERNAL to-zone VLAN208 policy T16 match destination-address 118.102.5.62/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T16 match application tcp_d_9000
set security policies from-zone EXTERNAL to-zone VLAN208 policy T16 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T17 match source-address 122.201.11.130/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T17 match destination-address 118.102.5.46/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T17 match application tcp_d_873
set security policies from-zone EXTERNAL to-zone VLAN208 policy T17 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T18 match source-address 202.172.4.16/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T18 match destination-address 118.102.5.59/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T18 match application esp
set security policies from-zone EXTERNAL to-zone VLAN208 policy T18 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T19 match source-address 202.172.4.16/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T19 match destination-address 118.102.5.59/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T19 match application ah
set security policies from-zone EXTERNAL to-zone VLAN208 policy T19 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T20 match source-address 202.172.4.16/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T20 match destination-address 118.102.5.59/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T20 match application udp_d_500
set security policies from-zone EXTERNAL to-zone VLAN208 policy T20 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T21 match source-address 202.172.4.16/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T21 match destination-address 118.102.5.59/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T21 match application udp_s_500
set security policies from-zone EXTERNAL to-zone VLAN208 policy T21 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T22 match source-address 202.172.4.16/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T22 match destination-address 118.102.5.59/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T22 match application udp_s_4500
set security policies from-zone EXTERNAL to-zone VLAN208 policy T22 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T23 match source-address 202.172.4.16/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T23 match destination-address 118.102.5.59/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T23 match application tcp_s_4500
set security policies from-zone EXTERNAL to-zone VLAN208 policy T23 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T24 match source-address 202.172.4.16/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T24 match destination-address 118.102.5.59/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T24 match application udp_d_4500
set security policies from-zone EXTERNAL to-zone VLAN208 policy T24 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T25 match source-address 202.172.4.16/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T25 match destination-address 118.102.5.59/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T25 match application tcp_d_4500
set security policies from-zone EXTERNAL to-zone VLAN208 policy T25 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T26 match source-address 202.172.4.16/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T26 match destination-address 118.102.5.62/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T26 match application esp
set security policies from-zone EXTERNAL to-zone VLAN208 policy T26 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T27 match source-address 202.172.4.16/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T27 match destination-address 118.102.5.62/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T27 match application ah
set security policies from-zone EXTERNAL to-zone VLAN208 policy T27 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T28 match source-address 202.172.4.16/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T28 match destination-address 118.102.5.62/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T28 match application udp_d_500
set security policies from-zone EXTERNAL to-zone VLAN208 policy T28 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T29 match source-address 202.172.4.16/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T29 match destination-address 118.102.5.62/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T29 match application udp_s_500
set security policies from-zone EXTERNAL to-zone VLAN208 policy T29 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T30 match source-address 202.172.4.16/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T30 match destination-address 118.102.5.62/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T30 match application udp_s_4500
set security policies from-zone EXTERNAL to-zone VLAN208 policy T30 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T31 match source-address 202.172.4.16/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T31 match destination-address 118.102.5.62/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T31 match application tcp_s_4500
set security policies from-zone EXTERNAL to-zone VLAN208 policy T31 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T32 match source-address 202.172.4.16/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T32 match destination-address 118.102.5.62/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T32 match application udp_d_4500
set security policies from-zone EXTERNAL to-zone VLAN208 policy T32 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T33 match source-address 202.172.4.16/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T33 match destination-address 118.102.5.62/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T33 match application tcp_d_4500
set security policies from-zone EXTERNAL to-zone VLAN208 policy T33 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T34 match source-address 203.190.170.41/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T34 match destination-address 118.102.5.59/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T34 match application tcp_s_8998
set security policies from-zone EXTERNAL to-zone VLAN208 policy T34 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T35 match source-address 203.190.170.41/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T35 match destination-address 118.102.5.59/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T35 match application tcp_s_9998
set security policies from-zone EXTERNAL to-zone VLAN208 policy T35 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T36 match source-address 203.190.170.41/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T36 match destination-address 118.102.5.62/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T36 match application tcp_s_8998
set security policies from-zone EXTERNAL to-zone VLAN208 policy T36 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T37 match source-address 203.190.170.41/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T37 match destination-address 118.102.5.62/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T37 match application tcp_s_9998
set security policies from-zone EXTERNAL to-zone VLAN208 policy T37 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T38 match source-address 203.190.170.42/31
set security policies from-zone EXTERNAL to-zone VLAN208 policy T38 match destination-address 118.102.5.59/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T38 match application tcp_s_8998
set security policies from-zone EXTERNAL to-zone VLAN208 policy T38 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T39 match source-address 203.190.170.42/31
set security policies from-zone EXTERNAL to-zone VLAN208 policy T39 match destination-address 118.102.5.59/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T39 match application tcp_s_9998
set security policies from-zone EXTERNAL to-zone VLAN208 policy T39 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T40 match source-address 203.190.170.42/31
set security policies from-zone EXTERNAL to-zone VLAN208 policy T40 match destination-address 118.102.5.62/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T40 match application tcp_s_8998
set security policies from-zone EXTERNAL to-zone VLAN208 policy T40 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T41 match source-address 203.190.170.42/31
set security policies from-zone EXTERNAL to-zone VLAN208 policy T41 match destination-address 118.102.5.62/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T41 match application tcp_s_9998
set security policies from-zone EXTERNAL to-zone VLAN208 policy T41 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T42 match source-address 122.201.11.74/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T42 match destination-address 118.102.5.46/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T42 match application tcp_d_873
set security policies from-zone EXTERNAL to-zone VLAN208 policy T42 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T43 match source-address 122.201.11.69/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T43 match destination-address 118.102.5.46/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T43 match application tcp_d_25
set security policies from-zone EXTERNAL to-zone VLAN208 policy T43 match application tcp_d_465
set security policies from-zone EXTERNAL to-zone VLAN208 policy T43 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T44 match source-address 61.28.254.106/31
set security policies from-zone EXTERNAL to-zone VLAN208 policy T44 match destination-address 118.102.5.46/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T44 match application tcp_d_25
set security policies from-zone EXTERNAL to-zone VLAN208 policy T44 match application tcp_d_465
set security policies from-zone EXTERNAL to-zone VLAN208 policy T44 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T45 match source-address 61.28.254.106/31
set security policies from-zone EXTERNAL to-zone VLAN208 policy T45 match destination-address 118.102.5.46/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T45 match application udp_d_25
set security policies from-zone EXTERNAL to-zone VLAN208 policy T45 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T46 match source-address 118.102.7.243/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T46 match destination-address 118.102.5.46/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T46 match application tcp_d_25
set security policies from-zone EXTERNAL to-zone VLAN208 policy T46 match application tcp_d_465
set security policies from-zone EXTERNAL to-zone VLAN208 policy T46 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T47 match source-address 103.73.232.140/31
set security policies from-zone EXTERNAL to-zone VLAN208 policy T47 match destination-address 118.102.5.46/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T47 match application tcp_d_25
set security policies from-zone EXTERNAL to-zone VLAN208 policy T47 match application tcp_d_465
set security policies from-zone EXTERNAL to-zone VLAN208 policy T47 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T48 match source-address 103.73.232.142/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T48 match destination-address 118.102.5.46/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T48 match application tcp_d_25
set security policies from-zone EXTERNAL to-zone VLAN208 policy T48 match application tcp_d_465
set security policies from-zone EXTERNAL to-zone VLAN208 policy T48 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T49 match source-address 45.127.252.141/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T49 match destination-address 118.102.5.46/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T49 match application tcp_d_25
set security policies from-zone EXTERNAL to-zone VLAN208 policy T49 match application tcp_d_465
set security policies from-zone EXTERNAL to-zone VLAN208 policy T49 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T50 match source-address 45.127.253.196/31
set security policies from-zone EXTERNAL to-zone VLAN208 policy T50 match destination-address 118.102.5.46/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T50 match application tcp_d_25
set security policies from-zone EXTERNAL to-zone VLAN208 policy T50 match application tcp_d_465
set security policies from-zone EXTERNAL to-zone VLAN208 policy T50 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T51 match source-address 45.127.253.198/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T51 match destination-address 118.102.5.46/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T51 match application tcp_d_25
set security policies from-zone EXTERNAL to-zone VLAN208 policy T51 match application tcp_d_465
set security policies from-zone EXTERNAL to-zone VLAN208 policy T51 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy T52 match source-address 103.73.232.140/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T52 match destination-address 118.102.5.46/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy T52 match application tcp_d_873
set security policies from-zone EXTERNAL to-zone VLAN208 policy T52 then permit
set security policies from-zone EXTERNAL to-zone VLAN208 policy A179095_999453085 match source-address 61.28.251.99/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy A179095_999453085 match destination-address 118.102.5.59/32
set security policies from-zone EXTERNAL to-zone VLAN208 policy A179095_999453085 match application tcp_d_80
set security policies from-zone EXTERNAL to-zone VLAN208 policy A179095_999453085 match application tcp_d_443
set security policies from-zone EXTERNAL to-zone VLAN208 policy A179095_999453085 then permit
set security policies from-zone VLAN208 to-zone EXTERNAL policy A147891_999391793 match source-address 118.102.5.62/32
set security policies from-zone VLAN208 to-zone EXTERNAL policy A147891_999391793 match destination-address 120.138.76.49/32
set security policies from-zone VLAN208 to-zone EXTERNAL policy A147891_999391793 match application tcp_d_8093
set security policies from-zone VLAN208 to-zone EXTERNAL policy A147891_999391793 then permit
set security policies from-zone VLAN208 to-zone EXTERNAL policy A147891_999391791 match source-address 118.102.5.59/32
set security policies from-zone VLAN208 to-zone EXTERNAL policy A147891_999391791 match destination-address 120.138.76.49/32
set security policies from-zone VLAN208 to-zone EXTERNAL policy A147891_999391791 match application tcp_d_8093
set security policies from-zone VLAN208 to-zone EXTERNAL policy A147891_999391791 then permit
set security policies from-zone VLAN208 to-zone EXTERNAL policy A147891_999391789 match source-address 118.102.5.58/32
set security policies from-zone VLAN208 to-zone EXTERNAL policy A147891_999391789 match destination-address 120.138.76.49/32
set security policies from-zone VLAN208 to-zone EXTERNAL policy A147891_999391789 match application tcp_d_8093
set security policies from-zone VLAN208 to-zone EXTERNAL policy A147891_999391789 then permit
set security policies from-zone VLAN208 to-zone EXTERNAL policy A147891_999391787 match source-address 118.102.5.56/32
set security policies from-zone VLAN208 to-zone EXTERNAL policy A147891_999391787 match destination-address 120.138.76.49/32
set security policies from-zone VLAN208 to-zone EXTERNAL policy A147891_999391787 match application tcp_d_8093
set security policies from-zone VLAN208 to-zone EXTERNAL policy A147891_999391787 then permit
set security policies from-zone VLAN208 to-zone EXTERNAL policy A147891_999391785 match source-address 118.102.5.46/32
set security policies from-zone VLAN208 to-zone EXTERNAL policy A147891_999391785 match destination-address 120.138.76.49/32
set security policies from-zone VLAN208 to-zone EXTERNAL policy A147891_999391785 match application tcp_d_8093
set security policies from-zone VLAN208 to-zone EXTERNAL policy A147891_999391785 then permit
set security policies from-zone VLAN208 to-zone EXTERNAL policy A100249_999323611 match source-address 118.102.5.59/32
set security policies from-zone VLAN208 to-zone EXTERNAL policy A100249_999323611 match source-address 118.102.5.60/31
set security policies from-zone VLAN208 to-zone EXTERNAL policy A100249_999323611 match source-address 118.102.5.62/32
set security policies from-zone VLAN208 to-zone EXTERNAL policy A100249_999323611 match destination-address 120.138.64.142/32
set security policies from-zone VLAN208 to-zone EXTERNAL policy A100249_999323611 match application tcp_d_62007
set security policies from-zone VLAN208 to-zone EXTERNAL policy A100249_999323611 then permit
set security policies from-zone VLAN208 to-zone EXTERNAL policy A85979_999289097 match source-address 118.102.5.62/32
set security policies from-zone VLAN208 to-zone EXTERNAL policy A85979_999289097 match destination-address 49.213.81.36/32
set security policies from-zone VLAN208 to-zone EXTERNAL policy A85979_999289097 match application tcp-udp_d_80
set security policies from-zone VLAN208 to-zone EXTERNAL policy A85979_999289097 then permit
set security policies global policy permit_vlan208_to_external match source-address 118.102.5.32/27
set security policies global policy permit_vlan208_to_external match destination-address any
set security policies global policy permit_vlan208_to_external match application any
set security policies global policy permit_vlan208_to_external match from-zone VLAN208
set security policies global policy permit_vlan208_to_external match to-zone EXTERNAL
set security policies global policy permit_vlan208_to_external then permit
set security zones security-zone EXTERNAL host-inbound-traffic system-services ping
set security zones security-zone EXTERNAL host-inbound-traffic protocols ospf
set security zones security-zone EXTERNAL interfaces ae0.0
set security zones security-zone EXTERNAL interfaces ae1.0
set security zones security-zone VLAN208 host-inbound-traffic system-services ping
set security zones security-zone VLAN208 interfaces reth1.208
set interfaces xe-1/0/0 description "MX960_01:xe-9/0/2(ae66#1)"
set interfaces xe-1/0/0 gigether-options 802.3ad ae0
set interfaces xe-4/0/0 description ">MX480-01:xe-5/0/1(reth1#1)"
set interfaces xe-4/0/0 gigether-options redundant-parent reth1
set interfaces xe-4/0/1 description ">MX480-02:xe-5/0/1(reth1#2)"
set interfaces xe-4/0/1 gigether-options redundant-parent reth1
set interfaces xe-14/0/0 description "MX960_02:xe-9/0/2(ae66#1)"
set interfaces xe-14/0/0 gigether-options 802.3ad ae1
set interfaces xe-17/0/0 description ">MX480-01:xe-1/0/2(reth1#3)"
set interfaces xe-17/0/0 gigether-options redundant-parent reth1
set interfaces xe-17/0/1 description ">MX480-02:xe-1/0/4(reth1#4)"
set interfaces xe-17/0/1 gigether-options redundant-parent reth1
set interfaces ae0 description "MX960_01:ae66(xe-9/0/2)"
set interfaces ae0 aggregated-ether-options lacp active
set interfaces ae0 unit 0 family inet address 118.102.0.124/31
set interfaces ae1 description "MX960_02:ae66(xe-9/0/2)"
set interfaces ae1 aggregated-ether-options lacp active
set interfaces ae1 unit 0 family inet address 118.102.0.126/31
set interfaces fab0 fabric-options member-interfaces xe-1/0/1
set interfaces fab1 fabric-options member-interfaces xe-14/0/1
set interfaces lo0 unit 0 family inet filter input RE-inbound-filter
set interfaces reth1 description GATEWAY_PRODUCT
set interfaces reth1 vlan-tagging
set interfaces reth1 redundant-ether-options redundancy-group 1
set interfaces reth1 redundant-ether-options lacp active
set interfaces reth1 unit 208 description GE_GT_PMT
set interfaces reth1 unit 208 vlan-id 208
set interfaces reth1 unit 208 family inet address 118.102.5.33/27
set snmp location 1AC40
set snmp community vgro authorization read-only
set snmp community "Comm@Vinadata#" authorization read-only
set snmp community "Comm@Vinadata#" clients 10.73.2.1/32
set snmp community "Comm@Vinadata#" clients 10.73.2.2/32
set routing-options router-id 10.73.2.205
set routing-options forwarding-table export load-balance
set protocols ospf area 0.0.0.5 stub
set protocols ospf area 0.0.0.5 interface ae0.0 authentication md5 1 key "$9$Ar4ruRS-dsZGiSrs4oJkq0BIcSeW8X"
set protocols ospf area 0.0.0.5 interface ae1.0 authentication md5 1 key "$9$Ar4ruRS-dsZGiSrs4oJkq0BIcSeW8X"
set protocols ospf area 0.0.0.5 interface reth1.208 passive
set policy-options prefix-list mgt-networks 10.73.2.0/24
set policy-options prefix-list vng-terminal 10.73.2.74/32
set policy-options prefix-list vng-terminal 10.73.2.75/32
set policy-options prefix-list vng-terminal 10.78.2.74/32
set policy-options prefix-list DeviceExpert 10.73.2.2/32
set policy-options prefix-list DeviceExpert 10.73.2.3/32
set policy-options prefix-list DeviceExpert 10.73.2.4/32
set policy-options prefix-list DeviceExpert 10.73.2.25/32
set policy-options prefix-list acl_automation 10.73.2.22/32
set policy-options prefix-list acl_automation 10.73.2.27/32
set policy-options policy-statement load-balance term load-balance then load-balance per-packet
set firewall family inet filter RE-inbound-filter term discard-first-frag from first-fragment
set firewall family inet filter RE-inbound-filter term discard-first-frag then discard
set firewall family inet filter RE-inbound-filter term discard-next-frag from is-fragment
set firewall family inet filter RE-inbound-filter term discard-next-frag then discard
set firewall family inet filter RE-inbound-filter term allow-ospf from protocol ospf
set firewall family inet filter RE-inbound-filter term allow-ospf then accept
set firewall family inet filter RE-inbound-filter term allow-other-protocols from prefix-list mgt-networks
set firewall family inet filter RE-inbound-filter term allow-other-protocols from protocol tcp
set firewall family inet filter RE-inbound-filter term allow-other-protocols from protocol udp
set firewall family inet filter RE-inbound-filter term allow-other-protocols from port snmp
set firewall family inet filter RE-inbound-filter term allow-other-protocols from port radius
set firewall family inet filter RE-inbound-filter term allow-other-protocols from port ntp
set firewall family inet filter RE-inbound-filter term allow-other-protocols from port tacacs
set firewall family inet filter RE-inbound-filter term allow-other-protocols from port syslog
set firewall family inet filter RE-inbound-filter term allow-other-protocols from port ftp
set firewall family inet filter RE-inbound-filter term allow-other-protocols from port ftp-data
set firewall family inet filter RE-inbound-filter term allow-other-protocols then accept
set firewall family inet filter RE-inbound-filter term allow-trusted-ssh from source-prefix-list vng-terminal
set firewall family inet filter RE-inbound-filter term allow-trusted-ssh from source-prefix-list DeviceExpert
set firewall family inet filter RE-inbound-filter term allow-trusted-ssh from destination-port 22
set firewall family inet filter RE-inbound-filter term allow-trusted-ssh then accept
set firewall family inet filter RE-inbound-filter term policer-icmp-128k from protocol icmp
set firewall family inet filter RE-inbound-filter term policer-icmp-128k from icmp-type time-exceeded
set firewall family inet filter RE-inbound-filter term policer-icmp-128k from icmp-type echo-reply
set firewall family inet filter RE-inbound-filter term policer-icmp-128k from icmp-type echo-request
set firewall family inet filter RE-inbound-filter term policer-icmp-128k from icmp-type unreachable
set firewall family inet filter RE-inbound-filter term policer-icmp-128k from icmp-type source-quench
set firewall family inet filter RE-inbound-filter term policer-icmp-128k then policer limit-128k
set firewall family inet filter RE-inbound-filter term policer-iostracert-128k from protocol udp
set firewall family inet filter RE-inbound-filter term policer-iostracert-128k from destination-port 33434-33523
set firewall family inet filter RE-inbound-filter term policer-iostracert-128k then policer limit-128k
set firewall family inet filter RE-inbound-filter term allow-acl-automation from source-prefix-list acl_automation
set firewall family inet filter RE-inbound-filter term allow-acl-automation from protocol tcp
set firewall family inet filter RE-inbound-filter term allow-acl-automation from destination-port 830
set firewall family inet filter RE-inbound-filter term allow-acl-automation then accept
set firewall family inet filter RE-inbound-filter term discard-end then discard
set firewall policer limit-128k if-exceeding bandwidth-limit 128k
set firewall policer limit-128k if-exceeding burst-size-limit 32k
set firewall policer limit-128k then discard
set applications application tcp_d_80 protocol tcp
set applications application tcp_d_80 destination-port 80
set applications application tcp_d_443 protocol tcp
set applications application tcp_d_443 destination-port 443
set applications application tcp_s_80 protocol tcp
set applications application tcp_s_80 source-port 80
set applications application tcp_s_10001 protocol tcp
set applications application tcp_s_10001 source-port 10001
set applications application tcp_s_1500 protocol tcp
set applications application tcp_s_1500 source-port 1500
set applications application tcp_d_8080 protocol tcp
set applications application tcp_d_8080 destination-port 8080
set applications application tcp_s_8985 protocol tcp
set applications application tcp_s_8985 source-port 8985
set applications application tcp_d_9000 protocol tcp
set applications application tcp_d_9000 destination-port 9000
set applications application tcp_d_873 protocol tcp
set applications application tcp_d_873 destination-port 873
set applications application esp protocol esp
set applications application ah protocol ah
set applications application udp_d_500 protocol udp
set applications application udp_d_500 destination-port 500
set applications application udp_s_500 protocol udp
set applications application udp_s_500 source-port 500
set applications application udp_s_4500 protocol udp
set applications application udp_s_4500 source-port 4500
set applications application tcp_s_4500 protocol tcp
set applications application tcp_s_4500 source-port 4500
set applications application udp_d_4500 protocol udp
set applications application udp_d_4500 destination-port 4500
set applications application tcp_d_4500 protocol tcp
set applications application tcp_d_4500 destination-port 4500
set applications application tcp_s_8998 protocol tcp
set applications application tcp_s_8998 source-port 8998
set applications application tcp_s_9998 protocol tcp
set applications application tcp_s_9998 source-port 9998
set applications application tcp_d_25 protocol tcp
set applications application tcp_d_25 destination-port 25
set applications application udp_d_25 protocol udp
set applications application udp_d_25 destination-port 25
set applications application tcp_d_8093 protocol tcp
set applications application tcp_d_8093 destination-port 8093
set applications application tcp_d_62007 protocol tcp
set applications application tcp_d_62007 destination-port 62007
set applications application tcp-udp_d_80 term tcp protocol tcp
set applications application tcp-udp_d_80 term tcp destination-port 80
set applications application tcp-udp_d_80 term udp protocol udp
set applications application tcp-udp_d_80 term udp destination-port 80
set applications application tcp_d_465 protocol tcp
set applications application tcp_d_465 destination-port 465
set applications application tcp_d_874 protocol tcp
set applications application tcp_d_874 destination-port 874
set applications application tcp_d_9999 protocol tcp
set applications application tcp_d_9999 destination-port 9999
{primary:node0}

